.payment {
  padding: 20px;
  background-color: var(--background);
  min-height: 75vh;
}

.payment input {
  width: 100%;
}

.payment .container {
  max-width: 800px;
  margin: auto;
  margin-top: 40px;
}

.payment .type {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  flex-wrap: wrap;
}

.payment .type .one {
  width: 48%;
  display: flex;
  height: 70px;
  border-radius: 12px;
  border: 1px solid #7b88ab50;
  align-items: center;
  font-family: var(--font-family);
  padding: 0 16px;
  /* cursor: pointer; */
}

.payment .type .one input {
  width: 24px;
  margin-right: 16px;
}

.payment .container .deposit input,
.payment .container .withdraw input {
  margin-top: 12px;
}

.payment .container .deposit button,
.payment .container .withdraw button {
  width: 100%;
  margin-top: 24px;
}

.error {
  background-color: #ff000030;
  color: #ff0000;
  padding: 16px 12px;
  text-align: center;
  margin-bottom: 16px;
  border-radius: 8px;
  margin-right: 20px;
}

@media only screen and (max-width: 768px) {
  .payment .type .one {
    width: 100%;
    margin-bottom: 12px;
  }
}

.viewAllBtn {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.accountNumberSection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  margin-top: 12px;
  padding: 12px;
  font-size: 20px;
  color: #410d85;
}

.progressBar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}

.withdrawBtn{
  height: 50px;
  color: #fff;
  background-color: var(--primary-color);
  padding: 0 30px;
  min-width: 150px;
  font-family: var(--font-family);
  border-radius: 50px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  border: 0;
}
.withdrawBtn:hover{
  background: var(--primary-color-hover);
  color: #fff;
}
.withdrawBtn:active{
  background: var(--primary-color);
  color: #fff;
}
