.profilePage{
    padding: 20px;
    background: var(--background);
    min-height: 75vh;
}
.profilePage .container{
    min-height: 80vh;
}
.profilePage .container .details{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
}
.profilePage .details .input{
    width: 50%;
    max-width: 480px;
    margin: 16px 12px ;
}
.profilePage .details .input input{
    margin-top: 8px;
}
.profilePage .button{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 40px;
}
.profilePage .container .avatar{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.profilePage .container .avatar img{
    width: 120px;
    border-radius: 50%;
    height: 120px;
    object-fit: cover;
    border: 3px solid #99999999;
}
.profilePage .exit{
    display: none;
}
@media only screen and (max-width: 768px){
    .profilePage .details .input {
        width: 100%;
    }
    .profilePage .details .input input {
        margin: 0;
        width: 100%;
    }
    .profilePage{
        padding-bottom: 100px;
    }
    .profilePage .exit{
        color: #ff0000;
        display: flex;
        padding: 16px 8px;
        cursor: pointer;
        margin-top: 16px;
    }
    .profilePage .exit .icon{
        color: #ff0000;
        margin-right: 12px;
    }
    .profilePage button{
        width: 100%;
    }
}