.profilePage{
    padding: 20px;
    background: var(--background);
    min-height: 75vh;
}
.profilePage .container .details{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.profilePage .details .input{
    width: 50%;
    max-width: 480px;
    margin: 16px 12px ;
}
.profilePage .details .input input{
    margin-top: 8px;
}
.profilePage .button{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 40px;
}
.profilePage .container .avatar{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.profilePage .container .avatar img{
    width: 120px;
    border-radius: 50%;
    height: 120px;
    object-fit: cover;
    border: 3px solid #99999999;
}