.header{
    width: 100%;
    height: 80px;
    padding: 12px;
    margin: 0;
    display: flex;
    align-items: center;
    background-color: var(--background);
    border-bottom: 1px solid #7B88AB60;
}
.header .container{
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.header .container .logo{
    cursor: pointer;
}
.header .container .navLinks{
    display: flex;
}
.header .container .navLinks li{
    list-style: none;
    margin: 0px 15px;
    cursor: pointer;
}
.header .container .buttons button{
    width: 120px !important;
}
.header .container .btn{
    margin-right: 16px;
    color: var(--primary-color) !important;
    background-color: #fff !important;
    border: 1px solid #7B88AB99;
}
.header .mobileMenu {
    display: none;
}
@media only screen and (max-width: 768px) {
    .header .container .navLinks{
        display: none;
    }
    .header .container .buttons{
        display: none;
    }
    .header .mobileMenu {
        display: block;
    }
    .header .mobileMenu .menuLinks{
        height: 100vh;
        z-index: 1000;
        width: 100vw;
        position: fixed;
        background: var(--background);
        left: 0;
        top: 0;
        padding: 25px;
    }
    .header .mobileMenu .menuLinks li{
        font-size: 16px;
        margin: 16px 0;
        padding: 4px;
    }
}